.input-user{
    display: flex;
    justify-content: space-between;
}
.input-password{
    display: flex;
    justify-content: space-between;
}
.input-submit{
    margin: auto;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
}
.login-container{
    margin: auto;
    width: fit-content;
    height: fit-content;
    margin-top: 50%;
}